{
  "plugins": ["./node_modules/prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid"
}
