---
import { AstroSeo } from '@astrolib/seo'
import showDate from '../../utils/showDate'
import DefaultLayout from '../../layouts/DefaultLayout.astro'

interface Frontmatter {
  layout: string
  title: string
  lang: 'en' | 'zh-Hans'
  pubDate: string
  updatedDate: string
}

const posts = await Astro.glob<Frontmatter>('./**/*.md')
const postsReversed = posts.reverse()
---

<AstroSeo title="文章 Posts" description="文章列表" />

<DefaultLayout title="Posts">
  <ul class="text-2xl">
    {
      postsReversed.map(post => {
        const pubDate = showDate(post.frontmatter.pubDate)
        return (
          <li>
            {pubDate} -{' '}
            <a href={post.url} class="link link-primary link-hover">
              {post.frontmatter.title}
            </a>
          </li>
        )
      })
    }
  </ul>
</DefaultLayout>
