---
import { getCollection } from 'astro:content'
import { AstroSeo } from '@astrolib/seo'
import showDate from '../../utils/showDate'
import DefaultLayout from '../../layouts/DefaultLayout.astro'

const allPosts = await getCollection('posts')
allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
---

<AstroSeo title="文章 Posts" description="文章列表" />

<DefaultLayout title="Posts">
  <ul class="text-2xl">
    {
      allPosts.map(post => {
        const pubDate = showDate(post.data.pubDate)
        return (
          <li>
            {pubDate} -{' '}
            <a
              href={`/posts/${post.slug}/`}
              class="link link-primary link-hover"
            >
              {post.data.title}
            </a>
          </li>
        )
      })
    }
  </ul>
</DefaultLayout>
