---
import HeadCommon from '../components/HeadCommon.astro'
import { SITE } from '../config'

export interface Props {
  lang?: string
}

const { lang } = Astro.props as Props
---

<!DOCTYPE html>
<html lang={lang || SITE.defaultLanguage} data-theme="night">
  <head>
    <HeadCommon />
  </head>
  <body>
    <slot />
  </body>
</html>
