---
import BaseLayout from './BaseLayout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { NAVIGATOR } from '../config'

export interface Props {
  title?: string
  lang?: string
}

const { title, lang } = Astro.props as Props

const { name } = NAVIGATOR
---

<BaseLayout title={title || name} lang={lang}>
  <div class="mx-auto max-w-xl lg:max-w-3xl">
    <div class="lg:ml-8">
      <Header />
    </div>
    <main class="mb-4">
      <slot />
    </main>
    <div class="text-center">
      <Footer />
    </div>
  </div>
</BaseLayout>
