---
import NetlifyIdentity from '../components/NetlifyIdentity.astro'
export interface Props {
  title: string
  lang?: string
}

const { title, lang } = Astro.props as Props
---

<!DOCTYPE html>
<html lang={lang || 'en'}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <script src='https://identity.netlify.com/v1/netlify-identity-widget.js'>

    </script>
    <title>{title}</title>
  </head>
  <body>
    <slot></slot>
    <NetlifyIdentity client:load />
  </body>
</html>
