---
export interface Props {
  title: string
  lang?: string
}

const { title, lang } = Astro.props as Props
---

<!DOCTYPE html>
<html lang={lang || 'en'}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <title>{title}</title>
  </head>
  <body>
    <slot></slot>
  </body>
</html>
